body{

    color: aliceblue;
}
.container{
    padding-bottom: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
nav{
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.btn{
    display: flex;
    justify-content: space-between;
    
}
button:hover{
    color: #fff;
    background: #0F1F1C;
}
a{
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    text-decoration: none;
}

header{
    margin-bottom: 100px;
    background-color: #1F5E37;
}
main{
    color: black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
button{
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border:none ;
    border-radius: 10px;
    padding: 10px;
}
footer{
    background: #0F1F1C;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}